<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

<ui:composition template="/template/template.xhtml">
    <ui:define name="pageContent">

        <h3>This is some SECURE content</h3>

        <p>Password for the administrator : thomasiscool123</p>

    </ui:define>
</ui:composition>
</html>