<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:view>

    <h:head>
        <meta charset="UTF-8"/>
        <title>Security One</title>

        <h:outputScript library="jquery-3.4.1" name="jquery-3.4.1.js"/>
        <h:outputScript library="bootstrap-4.3.1" name="/js/bootstrap.bundle.js"/>

        <h:outputStylesheet library="bootstrap-4.3.1" name="/css/bootstrap.css"/>
        <h:outputStylesheet library="bootstrap-4.3.1" name="/css/style.css"/>
    </h:head>

    <h:body>

        <div class="row myHeader">
            <div class="container" style="margin-bottom: 2em;margin-top: 2em;">

                <ui:fragment rendered="#{not empty request.userPrincipal.name}">
                    <p>Logged-in as #{request.userPrincipal.name}</p>
                </ui:fragment>

                <ui:fragment rendered="#{empty request.userPrincipal.name}">
                    <p>You're not logged in yet</p>
                </ui:fragment>

                <!-- Example single danger button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/security-one/app/index.xhtml">Index</a>
                        <a class="dropdown-item" href="/security-one/app/unsecure.xhtml">Public page</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/security-one/app/secure/secure.xhtml">Secured page</a>
                    </div>
                </div>

                <div class="btn-group">
                    <ui:fragment rendered="#{not empty request.userPrincipal.name}">
                        <h:form>
                            <h:commandButton styleClass="btn btn-secondary" value="Logout" action="#{loginBean.logout}"/>
                        </h:form>
                    </ui:fragment>
                    <ui:fragment rendered="#{empty request.userPrincipal.name}">
                        <h:form>
                            <h:commandButton styleClass="btn btn-secondary" value="Login" action="#{loginBean.toLogin}"/>
                        </h:form>
                    </ui:fragment>
                </div>

                <div class="btn-group">
                    <ui:fragment rendered="#{empty request.userPrincipal.name}">
                        <h:form>
                            <h:commandButton styleClass="btn btn-secondary" value="Register" action="#{loginBean.toRegister}"/>
                        </h:form>
                    </ui:fragment>
                </div>

            </div>
        </div>

        <div class="row" style="margin-top: 2em;">
            <div class="container">
                <ui:insert name="pageContent">
                    <h1>Page content</h1>
                    <p>This content should be replaced by the client page.</p>
                </ui:insert>
            </div>
        </div>
        <script>
            var $pageContent = $('body > div.container');
            $pageContent.hide();
            $(function() {
                $pageContent.fadeIn();
            });
        </script>
    </h:body>

</f:view>
</html>