<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/template/template.xhtml">
    <ui:define name="pageContent">

        <!--@elvariable id="Endpoints" type="util.Endpoints"-->
        <o:importConstants type="util.Endpoints"/>

        <h3>Invalid user name or password.</h3>

        <h:link outcome="#{navigationBean.toLogin()}" value="Return to login page" styleClass="dropdown-item"/>

    </ui:define>
</ui:composition>
</html>