<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/template/template.xhtml">

    <ui:define name="pageContent">

        <!--@elvariable id="Endpoints" type="util.Endpoints"-->
        <o:importConstants type="util.Endpoints"/>

                    <h3>Login</h3>

                    <h:form id="login">

                        <h:messages id="messages" globalOnly="true" style="list-style-type: none; color: darkred"/>

                        <div class="form-group">
                            <h:outputLabel for="username" value="Username"/>
                            <h:inputText id="username" value="#{loginBean.username}" styleClass="form-control" required="true"/>
                            <h:message for="username" style="list-style-type: none; color: darkred"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel for="password" value="Password"/>
                            <h:inputSecret type="password" id="password" value="#{loginBean.password}" styleClass="form-control" required="true"/>
                            <h:message for="password" style="list-style-type: none; color: darkred"/>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <h:commandButton id="submit" update="@form"
                                                 value="Login" action="#{loginBean.submit}"/>
                            </div>
                            <div class="form-group col-md-6">
                                <h:link outcome="#{navigationBean.toRegister()}" value="Don't have an account yet? Register here"/>
                            </div>
                        </div>

                    </h:form>

    </ui:define>
</ui:composition>
</html>